<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.payment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Payment">
        <activity
            android:name=".flashsc"
            android:exported="true" />
        <activity
            android:name=".ui.login.flashS"
            android:exported="true"
            android:label="@string/title_activity_flash_s" />
        <activity
            android:name=".discount"
            android:exported="true" />
        <activity
            android:name=".SavedCards"
            android:exported="true" />
        <activity
            android:name=".Cashondelivery"
            android:exported="true" />
        <activity
            android:name=".Ordersuccess"
            android:exported="true" />
        <activity
            android:name=".CardDetails"
            android:exported="true" />
        <activity
            android:name=".Payment2"
            android:exported="true" />
        <activity
            android:name=".RetreiveDataActivity"
            android:exported="true" />
        <activity
            android:name=".paymentAc"
            android:exported="true" />
        <activity
            android:name=".AddActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>